.meal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.meal-header-buttons {
  display: flex;
  justify-content: space-between;
}

tr.mat-footer-row {
  font-weight: bold;
}
